nav {
    width: 100%;
    background-color: var(--border-color);
    height: 80px;
    display: flex;
    align-items: center;
    column-gap: 20px;
}

nav>li {
    list-style: none;
    padding-left: 20px;
}

nav>li>a {
    text-decoration: none;
    color: var(--bg-color);
}

.activeLink {
    color: var(--text-color-1);
    font-weight: bold;
}